.footer {
    background-color: #fff;
    bottom: 0;
    position: absolute;
    width: 100%;

    padding: 10px;
}

.buttons{
    width: 200px;
    margin-right: 50px;
}

.cardsPayment {
    display: flex;
    justify-content: space-between;
    align-items: center;

}

.cardPayment {
    background-color: #575757;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-align: center;

    width: 350px;
    height: 150px;
}